node_modules
dist
.tmp
.sass-cache
bower_components
test/bower_components
build
.recognizer/Users/RobertGabriel/Dropbox/College/Year 2/semester 2/Interactive WebDev/Part Two/Final/javascript.js
cache/
.recognizer/assests/js/settings.js

.recognizer/assests/js/localstorage.js

.recognizer/assests/js/settings.js
