<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Robin</title>
    <link rel="icon" type="image/png" href="assets/img/icons/logo.ico">
    <link href="assets/css/styles.css" rel="stylesheet">
</head>

<body ng-app="robin" ng-controller="controller" data-ng-init="init()">
    <!-- Fixed navbar -->
    <div id="blank" style="display:none; position:absolute; background-color:rgba(200, 54, 54, 0.5);z-index:4000;width:100%; height:100%;">
        <div style="margin: 25%;">
            <h1 style="text-align: center;vertical-align: middle;">Interent Disabled </h1>
            <p style="text-align: center">Contact your parent</p>
        </div>
    </div>
    <nav class="navbar navbar-material-light-blue shadow-z-2" ng-style="themeStyle" style="min-height:50px !important;max-height:50px !important;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-material-light-blue-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="back" ng-click="goBack()"><i class="mdi-navigation-arrow-back"></i></a>
            <a class="navbar-brand" id="forword" ng-click="goForword()"><i class="mdi-navigation-arrow-forward"></i></a>
            <a class="navbar-brand" id="refresh" ng-click="refresh()"><i class="mdi-navigation-refresh"></i></a>
            <a class="navbar-brand" id="newTab" ng-click="createTab('apples')"><i class="mdi-content-add"></i></a>
            <a class="navbar-brand" id="home" ng-click="home()"><i class="mdi-action-home"></i></a>
        </div>
        <div class="navbar-brand" id="search">
            <input type="text" id="searchTerm" ng-model="searchTerm" ng-bind="searchTerm" class="form-control col-lg-8" ng-keypress="search($event)" ng-click="autoFocus()" placeholder="Search" autofocus>
        </div>


        <div class="navbar-collapse collapse navbar-material-light-blue-collapse" style="height: 50px;">

            <ul class="nav navbar-nav navbar-right" method="post" style="height: 50px;">
                <li class="dropdown ">
                    <a href="index.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown" style="height: 50px;"><i class="mdi-navigation-more-vert"></i></a>
                    <ul class="dropdown-menu shadow-z-3" id="specialId" style="border-color: white;">
                        <li ng-show="!loggedin"><a data-toggle="modal" data-target="#settings-dialog" id="settingsButton">Settings</a></li>
                        <li ng-show="!loggedin"><a data-toggle="modal" data-target="#signupModal">Signup</a></li>
                        <li ng-show="!loggedin"><a data-toggle="modal" data-target="#login">Login</a></li>
                        <li ng-show="!loggedin"><a ng-click="searchResult('assets/view/help.html')">Help</a> </li>

                        <li ng-show="!loggedin" class="divider" ng-style="themeStyle"></li>
                        <li ng-show="!loggedin"><a data-toggle="modal" data-target="#logoutModal">Logout</a></li>

                        <li ng-show="!loggedin"><a ng-click="searchResult('assets/view/help.html')">Help</a> </li>

                    </ul>

            </ul>
        </div>
    </nav>

    <!--  Tabs for Muilipt Browsers or Iframes  -->
    <div class='contain' id="tabs">
        <div class="expandOpen" ng-repeat="evt in browser">
            <section class="home active expandOpen" ng-click="selectTab($event)" id="{{evt.iframeId}}">
                <div class="backdrop" style="background-color:#E5E5E5;">
                    <div class="urlText">
                        <p class="title">{{evt.title}}</p>
                    </div>
                    <div class="mdi-navigation-close" ng-click="closeTab($event);$event.stopPropagation();" id="{{evt.closeId}}" style="font-size: 18px;
        line-height: 18px;margin-top:0.2em;"></div>
                </div>
                <iframe active sandbox="allow-same-origin allow-scripts allow-popups allow-forms" ng-src="{{evt.title | trustUrl}}" class="iframe active" iframe-onload="iframeLoadedCallBack()" id="{{evt.id}}" width="850" height="100%"></iframe>
            </section>
        </div>

    </div>

    <!--  Floating Button to Create New Tabs   -->
    <button  draggable="true" class="btn btn-warning btn-fab btn-raised" ng-style="themeStyle" id="tabs_button" ng-click="showTabs()">
        <i class="mdi-navigation-apps"></i>
    </button>

    <!--  Settings Tab  -->
    <div id="settings-dialog" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h3 class="modal-title">Settings</h3>
                </div>
                <div class="modal-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active in" id="theme">

                            <div class="form-group">
                                <h4>Theme</h4>
                                <ul id="pick_colors">
                                    <li><span class="colors withripple" data-ripple-color="red" id="_7F8C8D" ng-click="setColor('#7F8C8D')"><span ng-if="theme === '#7F8C8D'"><i class="mdi-action-done"></i> </span></span>
                                    </li>

                                    <li><span class="colors withripple" data-ripple-color="red" id="_95A5A6" data-ripple-color="red" ng-click="setColor('#95A5A6')"><span ng-if="theme === '#95A5A6'"><i class="mdi-action-done"></i> </span></span>
                                    </li>

                                    <li><span class="colors withripple" data-ripple-color="red" id="_BDC3C7" data-ripple-color="#F0F0F0" ng-click="setColor('#BDC3C7')"><span ng-if="theme === '#BDC3C7'"><i class="mdi-action-done"></i> </span></span>
                                    </li>

                                    <li><span class="colors withripple" data-ripple-color="red" id="_C0392B" data-ripple-color="#F0F0F0" ng-click="setColor('#C0392B')"><span ng-if="theme === '#C0392B'"><i class="mdi-action-done"></i> </span></span>
                                    </li>

                                    <li><span class="colors withripple" data-ripple-color="red" id="_E74C3C" data-ripple-color="#F0F0F0" ng-click="setColor('#E74C3C')"><span ng-if="theme === '#E74C3C'"><i class="mdi-action-done"></i> </span></span>
                                    </li>

                                    <li><span class="colors withripple" data-ripple-color="red" id="_F39C12" data-ripple-color="#F0F0F0" ng-click="setColor('#F39C12')"><span ng-if="theme === '#F39C12'"><i class="mdi-action-done"></i> </span></span>
                                    </li>

                                    <li><span class="colors withripple" data-ripple-color="red" id="_F1C40F" data-ripple-color="#F0F0F0" ng-click="setColor('#F1C40F')"><span ng-if="theme === '#F1C40F'"><i class="mdi-action-done"></i> </span></span>
                                    </li>

                                    <li><span class="colors withripple" data-ripple-color="red" id="_8E44AD" data-ripple-color="#F0F0F0" ng-click="setColor('#8E44AD')"><span ng-if="theme === '#8E44AD'"><i class="mdi-action-done"></i> </span></span>
                                    </li>

                                    <li><span class="colors withripple" data-ripple-color="red" id="_CA2C68" data-ripple-color="#F0F0F0" ng-click="setColor('#CA2C68')"><span ng-if="theme === '#CA2C68'"><i class="mdi-action-done"></i> </span></span>
                                    </li>

                                    <li><span class="colors withripple" data-ripple-color="red" id="_EA4C88" data-ripple-color="#F0F0F0" ng-click="setColor('#EA4C88')"><span ng-if="theme === '#EA4C88'"><i class="mdi-action-done"></i> </span></span>
                                    </li>

                                    <li><span class="colors withripple" data-ripple-color="red" id="_2C3E50" data-ripple-color="#F0F0F0" ng-click="setColor('#2C3E50')"><span ng-if="theme === '#2C3E50'"><i class="mdi-action-done"></i> </span></span>
                                    </li>

                                    <li><span class="colors withripple" data-ripple-color="red" id="_2980B9" data-ripple-color="#F0F0F0" ng-click="setColor('#2980B9')"><span ng-if="theme === '#2980B9'"><i class="mdi-action-done"></i> </span></span>
                                    </li>

                                    <li><span class="colors withripple" data-ripple-color="red" id="_3498DB"  ng-click="setColor('#3498DB')"><span ng-if="theme === '#3498DB'"><i class="mdi-action-done"></i> </span></span>
                                    </li>

                                    <li><span class="colors withripple" data-ripple-color="red" id="_27AE60"  data-ripple-color="#F0F0F0"ng-click="setColor('#27AE60')"><span ng-if="theme === '#27AE60'"><i class="mdi-action-done"></i> </span></span>
                                    </li>

                                    <li><span class="colors withripple" data-ripple-color="red" id="_16A085"  data-ripple-color="#F0F0F0" ng-click="setColor('#16A085')"><span ng-if="theme === '#16A085'"><i class="mdi-action-done"></i> </span></span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>




    <!-- Login Modal-->
    <div id="login" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="mdi-content-clear"></i>
                    </button>
                    <h4 class="modal-title">Login</h4>
                </div>

                <div class="modal-body">
                    <form class="form-horizontal" id="login" ng-submit="login()">
                        <div ng-show="showError">
                            <div class="alert alert-dismissible alert-info">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>Heads up!</strong> {{errorMessage}}
                            </div>
                        </div>
                        <fieldset>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="inputEmail" class="control-label">Email</label>
                                    <input type="text" class="form-control" id="inputEmail" name="loginemail" placeholder="applespeed@apple.com">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="inputEmail" class="control-label">Password</label>
                                    <input type="password" class="form-control" id="inputPassword" name="loginpassword" placeholder="*********">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" style="float:right;" class="btn btn-primary">Submit</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- Logout Modal-->
    <div id="logoutModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="mdi-content-clear"></i>
                    </button>
                    <h4 class="modal-title">Logout</h4>
                </div>

                <div class="modal-body">
                    <form class="form-horizontal" id="login" ng-submit="logout()">
                        <div ng-show="showError">
                            <div class="alert alert-dismissible alert-info">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>Heads up!</strong> {{errorMessage}}
                            </div>
                        </div>
                        <fieldset>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="inputEmail" class="control-label">Password</label>
                                    <input type="password" class="form-control" id="inputPassword" name="logoutpassword" placeholder="*********">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" style="float:right;" class="btn btn-primary">Submit</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>



    <!-- Welcome Modal-->
    <div id="welcome" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h4 class="modal-title">Help Section </h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- Signup Modal-->
    <div id="signupModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="mdi-content-clear"></i>
                    </button>
                    <h4 class="modal-title">Signup</h4>
                </div>

                <div class="modal-body">
                    <form class="form-horizontal" id="signup" name="signupForm" ng-submit="signup()">
                        <div ng-show="showError">
                            <div class="alert alert-dismissible alert-info">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>Heads up!</strong> {{errorMessage}}
                            </div>
                        </div>
                        <fieldset>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="inputEmail" class="control-label">Email</label>
                                    <input type="text" class="form-control" id="inputEmail" name="signupemail" placeholder="example@example.com">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="inputEmail" class="control-label">Password </label>
                                    <input type="password" class="form-control" id="inputPassword" name="signuppassword" placeholder="**********">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" style="float:right;" class="btn btn-primary">Submit</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>



    <script src="assets/js/lib/L.js"></script>
    <script src="assets/js/app/main.js" type="application/javascript" async></script>
</body>

</html>
