

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Robin : A Cool Website</title>
    <link rel="icon" type="image/png" href="assets/img/icons/logo.ico">
    <link href="assets/css/styles.css" rel="stylesheet">
    <link href="assets/css/less/robin/temp.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  </head>
  <body ng-app="Robin" ng-controller="localStorage">
   <div class="navbar navbar-material-light-blue shadow-z-2" ng-style="themeStyle">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-material-light-blue-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="back"><i class="mdi-hardware-keyboard-arrow-left"></i></a>
            <a class="navbar-brand" id="forword"><i class="mdi-hardware-keyboard-arrow-right"></i></a>
            <a class="navbar-brand" id="refresh"><i class="mdi-navigation-refresh"></i></a>
            <a class="navbar-brand" id="newTab"><i class="mdi-content-add-circle-outline"></i></a>
            <a class="navbar-brand" id="home"><i class="mdi-action-home"></i></a>
            <a class="navbar-brand" id="search"><input type="text" id="searchTerm" onkeydown="search(event)" class="form-control col-lg-8" placeholder="Search"></a>
       


        </div>
        <div class="navbar-collapse collapse navbar-material-light-blue-collapse">

            <ul class="nav navbar-nav navbar-right" method="post">
                <li class="dropdown ">
                    <a href="index.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><i class="mdi-action-settings"></i><b class="caret"></b></a>
                    <ul class="dropdown-menu shadow-z-3" id="specialId">
                        <li><a data-toggle="modal" data-target="#about-dialog">About</a></li>
                        <li><a data-toggle="modal" data-target="#settings-dialog" id="settingsButton">Settings</a></li>
                        <li><a data-toggle="modal" data-target="#credit-dialog" >Credit</a></li>
                       
                        <li class="divider"></li>
                        <li><a href="http://www.projectbird.com" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Who Deveolped it ">Projectbird</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>



    <div class='contain' id="tabs">

    </div>


    <button class="btn btn-warning btn-fab btn-raised" id="tabsq"><i class="mdi-device-now-widgets"></i></button>



<div id="settings-dialog" class="modal fade" tabindex="-1" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="mdi-content-clear"></i></button>
                    <h4 class="modal-title">Settings</h4>
                </div>

                <div class="modal-body">




                    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                        <li class="active"><a href="#block" data-toggle="tab">Block</a></li>
                        <li><a href="#theme" data-toggle="tab">Theme</a></li>
                        <li><a href="#personal" data-toggle="tab">Personal</a></li>
                      
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="block">
                            <div class="form-group">
                                <h4 class="modal-title">Block Websites</h4>
                                <div data-ng-repeat="banndedUrls2  in banndedUrls">
                                    <input type="text" name="text" class="form-control settings" data-ng-model="banndedUrls2.text" placeholder="{{ banndedUrls2.text }}">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="theme">
                                   
                            <div class="form-group">
                                <h4>Theme</h4>
                                <ul id="pick_colors">
                                    <li><span class="colors" id="color_Red" ng-click="setColor('#F44336')" ><span ng-if="theme[0][0]['color'] === '#F44336'"><i class="mdi-action-done"></i> </span></span></li>
                                    <li><span class="colors" id="color_Blue" ng-click="setColor('#03A9F4')"><span ng-if="theme[0][0]['color'] === '#03A9F4'"><i class="mdi-action-done"></i> </span> </span></li>
                                    <li><span class="colors" id="color_Green" ng-click="setColor('#009688')"> <span ng-if="theme[0][0]['color'] === '#009688'"><i class="mdi-action-done"></i> </span></span></li>
                                    <li><span class="colors" id="color_Brown" ng-click="setColor('#795548')"> <span ng-if="theme[0][0]['color'] === '#795548'"><i class="mdi-action-done"></i> </span></span></li>
                                    <li><span class="colors" id="color_Grey" ng-click="setColor('#9E9E9E')" > <span ng-if="theme[0][0]['color'] === '#9E9E9E'"><i class="mdi-action-done"></i> </span></span></li>
                                </ul>
                            </div>
                        </div>
                        
                         <div class="tab-pane fade" id="personal">
                            <div class="form-group">
                                <h4 class="modal-title">Email</h4>
                                <input type="email" name="text" class="form-control settings" value="banndedUrls.text" placeholder="{{ banndedUrls2.text }}">
                            </div>
                            <div class="form-group">
                              <h4 class="modal-title">Password</h4>
                              <input type="password" name="text" class="form-control settings" value="banndedUrls.text" placeholder="{{ banndedUrls2.text }}">
                            </div>
                        </div>
                    </div>
                </div>
          
                <br>
                <br>
                <hr>
                <div class="modal-footer">
                    <button class="btn btn-warning " ng-click="clearLocalStorage()" >Restart</button>
                    <button class="btn btn-primary " ng-click="addLocalStorage()" >Save</button>
                </div>
            </div>
        </div>
    </div>



    <div id="credit-dialog" class="modal fade" tabindex="-1" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="mdi-content-clear"></i></button>
                    <h4 class="modal-title">Built with <span class="mdi-action-favorite mdi-material-red"></span> using </h4>
                </div>

                <div class="modal-body">
               </div>
            
            </div>
        </div>
    </div>






    <span ng-bind="left()"></span></p>

    <script src="assets/js/angular/myNoteApp.js"></script>
    <script src="assets/js/angular/localStorage.js"></script>
        <script src="assets/js/angular/email.js"></script>
    <script src="assets/js/lib/L.js?checkLoaded"></script>
    <script src="assets/js/app/main.js"></script>
  
  </body>
</html>