#pick_colors {
	height:100%;
	list-style: none;
	padding: 0;
	width:100%;
}
#pick_colors>li>.colors {
	border-radius:5px;
	cursor: pointer;
	float:left;
	height:35px;
	margin:10px;
	width:35px;
}
#color_Red {
	background-color: #F44336;
}
#color_Blue {
	background-color: #03A9F4;
}
#color_Green {
	background-color: #4CAF50;
}
#color_Brown {
	background-color: #795548;
}
#color_Grey {
	background-color: #9E9E9E;
}
#specialId{
    BORDER-LEFT: 2PX SOLID #03A9F8;
    border-bottom: 2px solid #03A9F8;}