iframe {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: auto;
    margin: -20px 0 0 0;
    padding-right: 300px;
    /* Samakan dengan besar margin negatif */
}
body,
html {
    height: 100%;
}