iframe {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    margin: -20px 0 0 0;
    /* Samakan dengan besar margin negatif */
}
body,
html {
    height: 100%;
    overflow: -moz-scrollbars-none;
}
::-webkit-scrollbar {
    display: none;
}