iframe {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    margin: -20px 0 0 0;
    /* Samakan dengan besar margin negatif */
}
body,
html {
    height: 100%;
    overflow: -moz-scrollbars-none;
}
::-webkit-scrollbar {
    display: none;
}
.navbar-brand {
    float: left;
    height: 67px !important;
    padding: 22px 15px !important;
    /* font-size: 18px; */
    line-height: 20px;
}
.navbar-toggle {
    margin-top: 17px!important;
}

.navbar-collapse.collapse {

}

.box {
    width: 0px !important ;
    background-color: rebeccapurple;
    height: 30px;
padding-left: 0.1em;
    padding-right: 0.1em;
    background-color: white;
}

.box-change {
    width: 100% !important;
    height: 40px;
}

.searcharea{
width: 0%;
    height: 0%;
    background-color: red;

        -webkit-transition: width 2s ease, height 2s ease;
    -moz-transition: width 2s ease, height 2s ease;
    -o-transition: width 2s ease, height 2s ease;
    transition: width 2s ease, height 2s ease;

}
