* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background: #e5e5e5;
}

input[type="text"]:focus {
  outline: none;
}

input[type="text"] {
  border: 0;
  padding: 4px;
  width: 100%;
  display: inline-block;
  height: 28px;
  line-height: 20px;
  border-radius: 2px;
  font-size: 14px;
}

.searchcontainer {
  display: inline-block;
  position: absolute;
  border-radius: 3px;
  top: 30px;
  left: 30px;
  padding: 15px 15px;
  background: #fff;
  width: 320px;
  height: 50px;
  overflow: hidden;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.searchcontainer.expand {
  height: 320px;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}

.searchsmall {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px 15px;
  z-index: 50;
  width: 100%;
}

.searchscale {
  display: inline-block;
  overflow: hidden;
  position: absolute;
  background: #fabb3b;
  top: -20%;
  left: 50%;
  margin-left: -15px;
  width: 60px;
  height: 60px;
  opacity: 0;
  border-radius: 100%;
  transition: all 0.1s ease 0.15s;
  -webkit-transition: all 0.1s ease 0.15s;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
}

.searchscale.expand {
  transform: scale(15, 15);
  -webkit-transform: scale(15, 15);
  opacity: 1;
  border-radius: 100%;
  transition: all 0.4s ease-out 0.05s;
  -webkit-transition: all 0.4s ease-out 0.05s;
}

.searchdet {
  position: absolute;
  top: 50px;
  left: 0;
  width: 320px;
  background: #transparent;
  padding: 15px;
  display: none;
}

.searchdet.on {
  display: inline-block;
  -webkit-animation: fadeInDownSmall 0.4s;
  animation: fadeInDownSamll 0.4s;
}

.searchtoggler {
  width: 40px;
  height: 40px;
  background: #ba68c8;
  dispaly: inline-block;
  position: absolute;
  top: 30px;
  left: 360px;
  border-radius: 50%;
  line-height: 40px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.searchtoggler.active {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDownSamll {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
