<!DOCTYPE html>
<html>

<head>
  <title>Robin</title>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

  <link href="http://fezvrasta.github.io/bootstrap-material-design/dist/css/bootstrap-material-design.css" rel="stylesheet">
  <link href="http://fezvrasta.github.io/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">


  <!-- Mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Material Design fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="http://www.justinaguilar.com/animations/css/animations.css">
  <!-- Css Animation -->



</head>

<body ng-app="robinChrome" ng-controller="main">
  <base href="/">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-material-light-blue " ng-style="themeStyle">
    <div class="navbar-header">

    </div>
  </nav>

  <div class="header-panel">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 ">

        </div>
      </div>
    </div>
  </div>
  <div class="container ">


    <div class="row">

      <div class="col-md-2 col-xs-2 col-sm-2"></div>
      <div class="col-md-8 col-xs-8 col-sm-8  ">





        <div class="well pages slideDown">
          <h4>Just Searched</h4>

          <ul id="myList">
            <li></li>
          </ul>
        </div>

        <script>
          var ref = new Firebase("https://projectbird-robin.firebaseio.com");

          ref.child("scores").on("child_added", function(snapshot, prevChildKey) {
            var newPost = snapshot.val();


            var node = document.createElement("li");
            var textnode = document.createTextNode(newPost.currentUrl);
            node.appendChild(textnode);

            var list = document.getElementById("myList"); // Get the <ul> element to insert a new node
            list.insertBefore(node, list.childNodes[0]); // Insert <li>

          });
        </script>










      </div>
      <div class="col-md-2 col-xs-2 col-sm-2">

      </div>

    </div>
  </div>




  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>


  <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://fezvrasta.github.io/bootstrap-material-design/dist/js/material.js"></script>
  <script src="http://fezvrasta.github.io/bootstrap-material-design/dist/js/ripples.min.js"></script>
  <script>
    $.material.init();
  </script>
</body>

</html>
