<!DOCTYPE html>
<html>

<head>
  <title>Robin</title>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

  <link href="http://fezvrasta.github.io/bootstrap-material-design/dist/css/bootstrap-material-design.css" rel="stylesheet">
  <link href="http://fezvrasta.github.io/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">


  <!-- Mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Material Design fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="http://www.justinaguilar.com/animations/css/animations.css">
  <!-- Css Animation -->



</head>

<body ng-app="robinChrome" ng-controller="main">
  <base href="/">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-material-light-blue " ng-style="themeStyle">
    <div class="navbar-header">

    </div>
  </nav>

  <div class="header-panel">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 ">

        </div>
      </div>
    </div>
  </div>
  <div class="container ">


    <div class="row">

      <div class="col-md-2 col-xs-2 col-sm-2"></div>
      <div class="col-md-8 col-xs-8 col-sm-8  ">





        <div class="well pages slideDown">
          <h4>This is a good word test </h4>
          <p>the of and to a in for is on that by this with i you it not or be are from at as your all have new more an was we will home can us about if page my has search free but our one other do no information time they site he up may what which their news out use any there see only so his when contact here business who web also now help get pm view online c e first am been would how were me s services some these click its like service x than find price date back top people had list name just over state year day into email two health n world re next used go b work last most products music buy data make them should product system post her city</p>
        </div>





      </div>
      <div class="col-md-2 col-xs-2 col-sm-2">

      </div>

    </div>
  </div>




  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>


  <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://fezvrasta.github.io/bootstrap-material-design/dist/js/material.js"></script>
  <script src="http://fezvrasta.github.io/bootstrap-material-design/dist/js/ripples.min.js"></script>
  <script>
    $.material.init();
  </script>
</body>

</html>
