<!DOCTYPE html>
<html>

<head>
  <title>Robin</title>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

  <link href="http://fezvrasta.github.io/bootstrap-material-design/dist/css/bootstrap-material-design.css" rel="stylesheet">
  <link href="http://fezvrasta.github.io/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">


  <!-- Mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Material Design fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="http://www.justinaguilar.com/animations/css/animations.css">
  <!-- Css Animation -->



</head>

<body ng-app="robinChrome" ng-controller="main">
  <base href="/">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-material-light-blue " ng-style="themeStyle">
    <div class="navbar-header">

    </div>
  </nav>

  <div class="header-panel">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 ">

        </div>
      </div>
    </div>
  </div>
  <div class="container ">


    <div class="row">

      <div class="col-md-2 col-xs-2 col-sm-2"></div>
      <div class="col-md-8 col-xs-8 col-sm-8  ">



        <div class="well pages slideDown">
          <h4>How do I signup</h4>

          <p>You click signup from the dropdown. Enter your email and password and that's it you're all signed up</p>



        </div>



        <div class="well pages slideDown">
          <h4>How do I Login</h4>

          <p>You click the login in button and Enter your email and password and that's it your all logged in.</p>



        </div>


        <div class="well pages slideDown">
          <h4>How do I connect my child's browser to my account, so I can see what there doing?</h4>

          <p>Once you have signed up and logged in to the admin panel (chrome app). You simply go to eh robin browser and log in using the same details. That's it you can now see what the child is doing from the chrome app.</p>


        </div>


        <div class="well pages slideDown">


          <h4>What information do you collect?</h4>

          <p>We collect the following information</p>
          <ul>
            <li>The mac address of the machine (so we can tell which child it is)</li>
            <li>The type of device (is it an iPad or a Dell laptop)</li>
            <li>The Url your currently visiting</li>
            <li>The time your searching and from where</li>
            <li>The Current date</li>
          </ul>

        </div>


        <div class="well pages slideDown">



        </div>


        <div class="well pages slideDown">
          <h4>What Devices are supported?</h4>

          <p><b>Brower</b>
          </p>
          <ul>
            <li>Well 64bit windows 7</li>
            <li>64bit windows 8</li>
            <li>64bit windows 8.1</li>
            <li>64bit windows 10</li>
            <li>Mac Yosemite 64</li>
            <li>64bit Yosemite 32</li>
          </ul>
          <hr>
          <p><b>Chrome Extension</b>
          </p>
          <ul>
            <li>All</li>
          </ul>

        </div>



        <div class="well pages slideDown">
          <h4>How do I take a device off my account?</h4>

          <p>You simply go to the browser and click log out.</p>

        </div>


        <div class="well pages slideDown">
          <h4>How are the machine learning and filtering working?</h4>

          <p>To keep this simple, we collect information based on profanity words from what the child is searching and we store those online in our online database. Based on these ever-changing words of profanity we update the profanity algorithm. So as
            the more people search the better it gets.</p>

          <br>

          <p>The URL is sent to use, we parse out all the words, and check each word for is it classed as profanity and is its a verb. If it's either of them we update our database and use the new words we added to adjust the filtering algorithm.</p>

          <br>
          <p>Each URL is based on the following base formula.</p>
          <ul>
            <li>A number of words on a page.</li>
            <li>The amount or profanity words</li>
            <li>Number of verbs.</li>

          </ul>

          <br>
          <p>Using this information, we will start to see a trend where adult sites will have a higher profanity over a number of words. This is a great indicator of what to block.</p>

        </div>


        <div class="well pages slideDown">

          <h4>Can I add a site to be allowed?</h4>

          <p>You sure can, these are called whitelists, which is a set of allowed sites even if our system thinks it should be blocked. To add a site open up the robin chrome extension and click lists on the navigation. From here you can input the base URL
            so if you wanted to block pornhub.com. Just enter Pornhub and select black to block it or select white to allow it</p>


        </div>


        <div class="well pages slideDown">

          <h4>How can I see the list of Profanity words</h4>

          <p>Open up the robin chrome extension and click profanity on the navigation? You can see all the profanity words from our database here.</p>

        </div>


      </div>
      <div class="col-md-2 col-xs-2 col-sm-2">

      </div>

    </div>
  </div>




  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>


  <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://fezvrasta.github.io/bootstrap-material-design/dist/js/material.js"></script>
  <script src="http://fezvrasta.github.io/bootstrap-material-design/dist/js/ripples.min.js"></script>
  <script>
    $.material.init();
  </script>
</body>

</html>
